[user]
	email = 92172133+f-mantovani@users.noreply.github.com
	name = f-mantovani
[credential]
	modalprompt = false
[core]
	preloadindex = true
	fscache = true
[gc]
	auto = 256
[credential "helperselector"]
  selected = manager

[core]
    pager = delta

	editor = vi
[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictstyle = zdiff3
